#!groovy
// 02-install-plugins.groovy
// Minimal plugin installer. Set `jenkins_plugins` list in group_vars or defaults.
import jenkins.model.*
import hudson.model.*
import jenkins.install.*
import java.util.logging.Logger

def logger = Logger.getLogger("")
logger.info("[init] Ensuring desired plugins are installed")

def instance = Jenkins.get()
def pm = instance.getPluginManager()
def uc = instance.getUpdateCenter()

// Plugin list provided by Ansible via templating
def plugins = {{ jenkins_plugins | to_json }}

plugins.each { pluginId ->
  if (!pm.getPlugin(pluginId)) {
    logger.info("[init] Installing plugin: ${pluginId}")
    def plugin = uc.getPlugin(pluginId)
    if (plugin) {
      def installFuture = plugin.deploy()
      installFuture.get() // wait
      logger.info("[init] Installed ${pluginId}")
    } else {
      logger.warning("[init] Plugin ${pluginId} not found in update center")
    }
  } else {
    logger.info("[init] Plugin ${pluginId} already installed")
  }
}

instance.save()
