---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: instance
    image: geerlingguy/docker-ubuntu2004-ansible:latest
    privileged: true
provisioner:
  name: ansible
verifier:
  name: testinfra
